h1 {
  margin: 10px 0;
}

.container {
  width: 100%;
  height: 80vh;
  margin: 10px auto;

  display: flex;
}

h2 {
  text-align: center;

  margin: 20px;
}

.week-buttons {
  display: flex;
  justify-content: center;

  gap: 20px;
}


button {
  background-color: greenyellow;
  padding: 20px;

  border-radius: 20px;
}

.report-box {
  width: 100%;
  padding: 10px;
  display: flex;
}

.report {
  margin: 0 10px;
  padding: 15px;

  width: 25%;
  background-color: yellowgreen;
  border-radius: 10px;

  overflow-y: auto;
}

.date-box {
  padding: 10px;
}

.selected-button {
  background-color: lightblue;
  /* 使用者點選的按鈕顏色 */
}

.report-btn {
  margin: 20px auto;
}

.btn-area {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.loading-text {
  color: #050505;
  font-weight: bold;
  text-align: center;
  z-index: 11;
  animation: fadeIn 0.5s ease-in-out;
}

p-progress-spinner {
  z-index: 11;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


button {
  font-family: Seto;
}

p-message {
  width: 40vw;
  position: fixed;
  top: 15vh;
  left: 30vw;
  z-index: 100;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  backdrop-filter: blur(2px);

  z-index: 9;
}

.loading-text {
  position: absolute;
  text-align: center;
  font-size: 50px;
  top: 50%;
  right: 42%;
  z-index: 11;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cat {
  position: static;
  width: auto;
  max-width: 80%;
  margin: 0 auto;
}

.chat {
  max-width: 220px;
  margin-top: 15%;
  margin-left: 45%;
}

span {
  width: 170px;

  padding: 10px;
  position: absolute;
  top: 30%;
  left: 53%;
  font-size: 15px;
}
