h1 {
  text-align: center;
  margin: 10px auto;
}

.container {
  display: grid;
  grid-template-areas:
  "diet-report sleep-report"
  "exercise-report daily-report";
}

.date {
  width: 70%;

  margin: 0 auto;

  display: flex;
  justify-content: space-evenly;
}
