h1 {
<<<<<<< HEAD
  margin: 10px 0;
}

.container {
  width: 100%;
  height: 80vh;
=======
  text-align: center;
>>>>>>> 81c1efe0c27e47f91e8885e801daa96ab87911e2
  margin: 10px auto;
}

h2 {
  text-align: center;

  margin: 20px;
}

.week-buttons {
  display: flex;
  justify-content: center;

  gap: 20px;
}


button {
  background-color: greenyellow;
  padding: 20px;

  border-radius: 20px;
}

<<<<<<< HEAD
.report {
  margin: 0 10px;
  padding: 15px;
=======
.today-button {
  background-color: yellow;
  /* 當天按鈕的顏色 */
}
>>>>>>> 81c1efe0c27e47f91e8885e801daa96ab87911e2

.selected-button {
  background-color: lightblue;
  /* 使用者點選的按鈕顏色 */
}

.card {
  width: 50vw;
  height: 60vh;

  margin: 10px auto;
  background-color: rgb(209, 245, 168);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

<<<<<<< HEAD
  overflow-y: auto;

  p {
    line-height: 1.8;
    overflow-wrap: break-word;
  }
}

.report-btn {
  margin: 20px auto;
}

.btn-area {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.loading-text {
  color: #050505;
  font-weight: bold;
  text-align: center;
  z-index: 11;
  animation: fadeIn 0.5s ease-in-out;
}

p-progress-spinner {
  z-index: 11;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
=======
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 20px;
}

.report-container {
  width: 70vw;
  height: 65vh;
  margin: 0 auto;

  display: grid;
  grid-template-areas:
    "daily-report score-report"
    "ai-report score-report";

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

}

.daily-report {
  grid-area: daily-report;
}

.summary {
  line-height: 1.5;
}

.ai-report {
  grid-area: ai-report;
  overflow-y: auto;
>>>>>>> 81c1efe0c27e47f91e8885e801daa96ab87911e2
}

.score-report {
  height: 65vh;
  grid-area: score-report;
  position: relative;

}

.daily-report,
.ai-report,
.score-report {
  padding: 20px;
  margin: 15px;

  background-color: rgb(209, 245, 168);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.report-btn {
  margin: 20px;
}

.btn-area {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

button {
  font-family: Seto;
}

button:disabled {
  background-color: #d7d4d4;
}

p-message {
  width: 40vw;
  position: fixed;
  top: 15vh;
  left: 30vw;
  z-index: 100;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  backdrop-filter: blur(2px);

  z-index: 9;
}

.loading-text {
  position: absolute;
  text-align: center;
  font-size: 50px;
  top: 50%;
  right: 42%;
  z-index: 11;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cat {
  position: static;
  width: auto;
  max-width: 80%;
  margin: 0 auto;
}

.chat {
  max-width: 220px;
  margin-top: 15%;
  margin-left: 45%;
}

span {
  width: 170px;

  padding: 10px;
  position: absolute;
  top: 30%;
  left: 53%;
  font-size: 15px;
}
