.book-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  perspective: 1500px;
  width: 80vw;
  margin: 0 auto;
  padding: 60px 0;
  font-family: 'Noto Serif TC', cursive;
}

.book-page {
  width: 50%;
  min-height: 80vh;
  /* 或 auto，根據內容決定 */
  box-sizing: border-box;
  /* 確保 padding 不影響實際寬度 */
  padding: 40px;
  background: #fffdf7;
  border: 1px solid #e0dccc;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.05);
  transform-origin: center;
  overflow-y: auto;
  /* 確保頁面內容太多時仍可滑動 */
}

.book-page::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.book-page {
  -ms-overflow-style: none;
  /* IE/Edge */
  scrollbar-width: none;
  /* Firefox */
}

.left {
  border-right: none;
  border-radius: 8px 0 0 8px;
}

.right {
  border-left: none;
  border-radius: 0 8px 8px 0;
}

h3 {
  font-size: 30px;
  margin-bottom: 30px;
  color: #5c3d00;
}

label {
  display: block;
  margin: 10px 0 6px;
  font-weight: bold;
}

input[type="date"],
input[type="range"],
textarea {
  width: 100%;
  padding: 8px;
  font-family: inherit;
  font-size: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #fffefc;
}

.mood-score {
  text-align: right;
  font-size: 1.2rem;
  color: #ff9900;
  margin-top: 5px;
}

textarea {
  resize: none;
  height: 50vh;
  margin-top: 8px;
  font-size: 25px;
  font-family: "Seto";
}

.char-count {
  text-align: right;
  font-size: 0.85rem;
  color: #999;
  margin-top: 4px;
}

button {
  width: 100%;
  padding: 14px;
  background-color: #054b22;
  color: white;
  border: none;
  font-size: 25px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin: 10px 0;
  transition: all 0.3s;

  &:hover {
    background-color: #168654;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.success,
.error {
  text-align: center;
  margin-top: 12px;
  font-weight: bold;
  font-family: "Seto";
}

.success {
  color: green;
}

.error {
  color: red;
}
