<div class="card">
  <p-toolbar [style]="{ 'padding': '1rem 1rem 1rem 1.5rem', 'background-color': '#F0E4D4' }">
    <ng-template #start>
      <div class="start">
        <!-- <i class="pi pi-home my-home-icon" (click)="gotoPage('/home')" alt="logo"></i> -->


        <!-- <img class="logo" (click)="gotoPage('/home')" src="/imgs/report.svg" alt="logo" /> -->

        @if(islogin$ | async){
        <button (click)="visible = true">
          <i class="pi pi-bars"></i>
        </button>
        }
      </div>
    </ng-template>

    <ng-template #center>
      <div class="center">
        <h1>Beautiful Diary</h1>
      </div>
    </ng-template>

    <ng-template #end>
      <div class="end">
        <p-menu #menu [model]="(islogin$ | async) ? menuItemsLoggedIn : menuItemsLoggedOut" [popup]="true"
          [appendTo]="'body'">
        </p-menu>
        <i class="pi pi-user" (click)="menu.toggle($event)"></i>
      </div>
    </ng-template>
  </p-toolbar>
</div>

<div class="sidenav">
  <p-drawer #drawerRef [(visible)]="visible" styleClass="custom-drawer" [style]="{'background-color':'#F2EEE5'}">
    <ng-template #headless>
      <div class="headless">
        <div style="text-align: center;">
          <!-- <a href="/home">
            <img src="imgs/potato.png" alt="Potato" style="width: 100px; height: 100px; margin:10px auto 0px 30px;">
          </a> -->
        </div>
        <h2 class="main-text">Beautiful Diary</h2>
        <i class="pi pi-times" (click)="closeCallback($event)"></i>
      </div>
      <ul>
        @for(item of navItems; track $index){
        <li>
          <div class="nav-btn" [routerLink]="item.path">
            <!-- <i class="pi {{item.icon}}"></i> -->
            <img src="{{item.icon}}" />
            <span class="nav-text">{{item.label}}</span>
          </div>
        </li>
        }
      </ul>
    </ng-template>
  </p-drawer>
</div>
