<div class="card">
  <p-toolbar [style]="{ 'padding': '1rem 1rem 1rem 1.5rem' }">
    <ng-template #start>
      <div class="start">
        <img class="logo" (click)="gotoPage('/home')" src="/imgs/report.svg" alt="logo" />
        @if(is_login){
        <button (click)="visible = true">
          <i class="pi pi-bars"></i>
        </button>
        }
      </div>
    </ng-template>
    <ng-template #end>
      <div class="end">
        <p-menu #menu [model]="is_login ? menuItemsLoggedIn : menuItemsLoggedOut" [popup]="true" [appendTo]="'body'">
        </p-menu>
        <i class="pi pi-user" (click)="menu.toggle($event)"></i>
      </div>
    </ng-template>
  </p-toolbar>
</div>


<div class="sidenav">
  <p-drawer #drawerRef [(visible)]="visible">
    <ng-template #headless>
      <div class="headless">
        <h2 class="main-text">Bueautiful Diary</h2>
        <i class="pi pi-times" (click)="closeCallback($event)"></i>
      </div>
      <ul>
        @for(item of navItems; track $index){
        <li>
          <div class="nav-btn" [routerLink]="item.path">
            <!-- <i class="pi {{item.icon}}"></i> -->
            <img src="{{item.icon}}" />
            <span class="nav-text">{{item.label}}</span>
          </div>
        </li>
        }
      </ul>
    </ng-template>
  </p-drawer>
</div>
