.start,
.end {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.pi-user,
.logo {
  cursor: pointer;
}

.logo {
  width: 2rem;
  margin-right: 1rem
}

.pi {
  font-size: 1.8rem;
}

// 側邊欄
.sidenav {
  display: flex;
  justify-content: center;
  background-color: #d69703 !important;
}

::ng-deep .custom-drawer .p-drawer {
  background-color: #F2EEE5;
}

.headless {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px;
}

.main-text {
  vertical-align: 2rem;
  font-size: 1.8rem;
}

// 關閉按鈕
.pi-times {
  display: flex;
  align-items: center;
  margin: 0 10px 0 auto;
}

.nav-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 1rem;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.nav-btn:hover {
  background-color: #F0E4D4;
}

img {
  margin: 0 1rem 0 10px;
  width: 1.5rem;
}

.nav-text {
  font-size: 1.8rem;
}

::ng-deep .p-menu .p-menuitem-text {
  font-size: 20px; // ← 你可以改成想要的大小
}
