.info-box {
  margin: 20px auto;
  display: flex;
}

p-button {
  margin: 0 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  background-color: #F2EEE5;
}

.info-box {
  .p-password {
    font-size: 25px;
    font-family: "Seto";
  }

  .p-floatlabel label {
    font-size: 25px;
    font-family: "Seto";
    color: #000;
  }
}

.work-type {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  background-color: #F2EEE5;
  height: 70vh;

  .select-btn {
    width: 300px;
    height: 300px;
    font-size: 25px;
    font-family: "Seto";
    background-color: rgb(253, 253, 253);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    margin: 10px;
    border-radius: 10px;
    padding: 20px;

    transition: background-color 0.3s ease;
  }

  .select-btn:hover {
    background-color: #F0E4D4;
  }
}


.dream-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  background-color: #F2EEE5;
  height: 70vh;

  .select-btn {
    width: 200px;
    height: 200px;
    font-size: 25px;
    font-family: "Seto";

    background-color: rgb(253, 253, 253);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    margin: 10px;
    border-radius: 10px;
    padding: 20px;

    transition: background-color 0.3s ease;
  }

  .select-btn:hover {
    background-color: #F0E4D4;
  }
}


.select-btn {
  width: 200px;
  height: 200px;
  font-size: 25px;
  font-family: "Seto";

  background-color: rgb(253, 253, 253);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  margin: 10px;
  border-radius: 10px;
  padding: 20px;

  transition: background-color 0.3s ease;
}

.select-btn:hover {
  background-color: #F0E4D4;
}

.gender-btn {
  width: 200px;
  height: 200px;
  background-color: #F0E4D4;
  margin: 10px;
  border-radius: 10px;
  font-size: 30px;
}

.date-picker {
  margin-bottom: 200px;
}
