.info-box {
  margin: 20px auto;
  display: flex;
}

p-button {
  margin: 0 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.select-btn {
  width: 200px;
  height: 200px;

  background-color: rgb(253, 253, 253);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  margin: 10px;
  border-radius: 10px;
  padding: 20px;

  transition: background-color 0.3s ease;
}

.select-btn:hover {
  background-color: red;
}

.gender-btn {
  width: 200px;
  height: 200px;
  background-color: red;
  margin: 10px;
  border-radius: 10px;
}

.date-picker {
  margin-bottom: 200px;
}
