.info-box {
  margin: 20px auto;
  display: flex;
}

p-button {
  margin: 0 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  background-color: #F2EEE5;
}

.info-box {
  .p-password {
    font-size: 25px;
    font-family: "Seto";
  }

  .p-floatlabel label {
    font-size: 18px;
    font-family: "Seto";
    color: #000;
  }
}

.work-type {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  background-color: #F2EEE5;
  height: 70vh;

  .select-btn {
    width: 300px;
    height: 300px;
    font-size: 25px;
    font-family: "Seto";
    background-color: rgb(253, 253, 253);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    margin: 10px;
    border-radius: 10px;
    padding: 20px;

    transition: background-color 0.3s ease;
  }

  .select-btn:hover {
    background-color: #F0E4D4;
  }
}

.dream-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  background-color: #F2EEE5;
  height: 70vh;

  .select-btn {
    width: 200px;
    height: 200px;
    font-size: 25px;
    font-family: "Seto";
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    transition: background-color 0.3s ease;
  }

  .select-btn:hover {
    background-color: #F0E4D4;
  }
}

.gender-btn {
  width: 200px;
  height: 200px;
  background-color: #F0E4D4;
  margin: 10px;
  border-radius: 10px;
  font-size: 30px;
}

.date-picker {
  margin-bottom: 200px;
}

//===========================
.select-btn {
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  position: relative;
  border: none;
  margin: 10px 0;
  color: white;
  text-align: center;
  padding: 0;
  cursor: pointer;
  border-radius: 12px;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.select-btn:hover {
  transform: scale(1.05);
}

.select-btn:active {
  box-shadow: none;
  transform: scale(0.95);
}

.label-overlay {
  position: absolute;
  border: none;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  box-sizing: border-box;
}
