<div class="door-container">
  <!-- 左右門 -->
  <div #leftDoor class="door left-door"></div>
  <div #rightDoor class="door right-door"></div>

  <!-- 光效元素 -->
  <div #lightLine class="light-line"></div>
  <div #lightBeam class="light-beam"></div>
  <div #lightFlash class="light-flash"></div>
  <div #lightExpansion class="light-expansion"></div>
</div>

<!-- 主要內容 -->
<div #contentScene class="content-scene">
<div class="background-slider"></div>

<!-- 登入主體內容 -->
<div #loginWrapper class="login-wrapper">
  <div class="login-box">
    <h2>登入</h2>

    <p-floatlabel>
      <input pInputText id="email" [(ngModel)]="email" />
      <label for="email">電子郵件地址</label>
    </p-floatlabel>

    <p-floatLabel>
      <p-password
        [(ngModel)]="password"
        name="password"
        inputId="password"
        [feedback]="false"
        [toggleMask]="true"
        required />
      <label for="password">密碼</label>
    </p-floatLabel>

    <button (click)="submit()" class="btn">登入</button>
    <button (click)="goToHome()" class="btn">回首頁</button>

    <div class="footer-links">
      <a routerLink="/forgotpassword">忘記密碼</a>
      <a routerLink="/register">註冊</a>
    </div>
  </div>
</div>

