<div class="Box">
  <div class="password-form-box">
    <p-floatLabel variant="on">
      <p-password [(ngModel)]="password" name="password" [toggleMask]="true" [feedback]="true" promptLabel="請輸入密碼"
        weakLabel="過於簡單" mediumLabel="適中" strongLabel="非常好" required>
        <ng-template pTemplate="header">
          <div class="remind-box">密碼強度</div>
        </ng-template>
        <ng-template pTemplate="footer">
          <ul class="remind-box">
            <li>至少一個小寫字母 (a-z)</li>
            <li>至少一個大寫字母 (A-Z)</li>
            <li>至少一個數字 (0-9)</li>
            <li>至少 8~16 個字元</li>
          </ul>
        </ng-template>
      </p-password>
      <label for="password" class="pwdbox">密碼</label>
    </p-floatLabel>
    <button (click)="edit()">修改</button>
  </div>

  @if (visible()) {
  <p-message severity="success" [life]="3000">密碼修改成功，請至 Gmail 收信</p-message>
  }
</div>
