h2 {
  text-align: center;
}

td {
  text-align: center;
}

.result-table {
  background-color: rgb(209, 245, 168);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;

  p {
    margin: 10px 0;
    font-size:25px;
  }
}
p-selectbutton {
  margin-bottom: 50%;
}

.op-btn {
  margin-left: 5px;
}
.save-btn {
  margin: auto 1px 0 auto;
}

.data-table {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* 每行 4 個 */
  gap: 20px;

  p {
    font-size: 25px;
  }
}

li {
  margin: 10px 0;
}

li:hover {
  color: red;
}

.card {
  margin-top: 10px;
  height: 250px;
  overflow-y: auto;
  height:50vh;
}

p-message {
  width: 40vw;
  position: fixed;
  top: 15vh;
  left: 30vw;
  z-index: 100;
}
