@if(showMessage){
<p-message severity="success" icon="pi pi-check-circle" styleClass="mb-2">儲存成功</p-message>
}
<div class="result-table">
  <div class="data-table">
    <p>卡路里: {{totalCalorie.toFixed(1)}} kcal</p>
    <p>蛋白質: {{totalProtein.toFixed(1)}} g</p>
    <p>脂肪: {{totalFat.toFixed(1)}} g</p>
    <p>碳水化合物: {{totalCarbohydrate.toFixed(1)}} g</p>
    <p>反式脂肪: {{totalTransFat.toFixed(1)}} g</p>
    <p>糖: {{totalSugar.toFixed(1)}} g</p>
    <p>飽和脂肪: {{totalSaturatedFat.toFixed(1)}} g</p>
    <p>納: {{totalSodium.toFixed(1)}} mg</p>
  </div>
  <div class="btn-box">
    <p>選擇用餐時段: </p>
    <p-selectbutton class="time-btn" size="small" [options]="times" [(ngModel)]="mealsType" optionLabel="label"
      optionValue="value" />
    <p-button class="save-btn" icon="pi pi-save" label="儲存" iconPos="right" (click)="save()"
      [disabled]="!this.mealsType || (this.myDiet.length == 0)" />
  </div>
</div>
<div class="card">
  <p-table [value]="selectedFoods" [paginator]="false" [rows]="5" [tableStyle]="{ 'min-width': '100%' }">
    <ng-template #header>
      <tr>
        <th style="width:10%">名稱</th>
        <th style="width:10%">卡路里</th>
        <th style="width:10%">蛋白質</th>
        <th style="width:10%">總脂肪</th>
        <th style="width:14%">碳水化合物</th>
        <th style="width:10%">份數</th>
        <th style="width:18%;"></th>
      </tr>
    </ng-template>
    <ng-template #body let-item let-i="rowIndex">
      <tr>
        <td>{{item.foodName}}</td>
        <td>{{item.calorie}}</td>
        <td>{{item.protein}}</td>
        <td>{{item.totalFat}}</td>
        <td>{{item.totalCarbohydrate}}</td>
        <td>{{item.serve}}</td>
        <td>
          <p-button class="op-btn" icon="pi pi-pencil" (click)="editFood(item)" />
          <p-button class="op-btn" icon="pi pi-times" (click)="delFood(i)" />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
