.bg-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
<<<<<<< HEAD
  background:#f7f3ed;;
=======
  background-color: #ffffd55a;
>>>>>>> Bao
  // background: #efe8d6;
}
