<div class="forgot-password-container">
  <div class="form-content"> <!-- 新增包裹層 -->
    <label for="email" class="emailbox">帳號/信箱</label>
    <input type="text" pInputText id="firstname" [(ngModel)]="email" class="uniform-input" />
    <button (click)="OTP()" class="uniform-button">傳送驗證碼</button>

    <!-- 動畫容器 -->
    <div class="email-animation-container" *ngIf="showAnimation">
      <div class="email-animation">
        <div class="envelope">✉️</div>
        <div class="mailbox">📪</div>
      </div>
      <p class="animation-message">驗證信已寄出，請檢查您的信箱</p>
    </div>

    @if (message) {
    <div [ngClass]="{'success-msg': messageType === 'success', 'error-msg': messageType === 'error'}">
      {{ message }}
    </div>
    }
  </div>
</div>
