h1,
p {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  padding: 20px;
  margin: 10px auto;

  width: 30vw;

  background-color: rgb(209, 245, 168);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

p-message {
  width: 40vw;
  position: fixed;
  top: 15vh;
  left: 30vw;
  z-index: 100;
}
