<div class="footer">
  <div class="left-box">
    <h3>健康日記<br>
      一款致力於協助用戶紀錄每日健康資訊的應用程式，並且與ai通力合作，生成最即時的健康提醒。</h3>
    <h3>聯絡我們</h3>
    <p>聯絡信箱: happydiary&#64;health.com.tw</p>
    <p>聯絡電話: 0800123456</p>
    <p>地點：國科大樓TTA</p>
    <div class="img-box">
      <img src="/imgs/report.svg" alt="圖片1" />
      <img src="/imgs/report.svg" alt="圖片2" />
    </div>
  </div>
  <div class="right-box">
    <h3>社群平台</h3>
    <div class="img-box">
      <img src="/imgs/report.svg" alt="圖片1" />
      <img src="/imgs/report.svg" alt="圖片2" />
      <img src="/imgs/report.svg" alt="圖片1" />
    </div>
    @if(showGoTopBtn){
    <i class="pi pi-angle-up" (click)="goTop()"></i>
    }
  </div>
</div>
