$person-box-bg-color: rgb(251, 255, 0);

///////////////////////////////////
h1 {
  text-align: center;
  margin-bottom: 20px;
}

.profile-box {
  width: 50%;

  margin: 0 auto;
  background-color: gray;
  padding: 20px;

  border-radius: 20px;
}

.container {
  display: grid;
  grid-template-areas:
    "personInfo-box avatar-box"
    "note-box acctInfo-box";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
}

.avatar-box,
.personInfo-box,
.note-box,
.acctInfo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.avatar-box {
  grid-area: avatar-box;

  p {
    margin-bottom: 10px;
  }
}

.note-box {
  grid-area: note-box;
}

.acctInfo-box {
  grid-area: acctInfo-box;
  position: relative;

  .chat {
    position: relative;
    margin-left: 200px;
    width: 200px;
  }
  .cat {
    position: relative;
    right: 10%;
    width: 300px;
    margin-bottom: 10px;
  }

  span {
    position: absolute;
    width: 150px;
    top: 20%;
    left: 60%;
    }
}

.personInfo-box {
  grid-area: personInfo-box;
  align-items: start;

  width: 250px;

  gap: 10px;
  margin: 0 auto;
  padding: 20px;

  background-color: $person-box-bg-color;
  border-radius: 10px;
}

.info-box {
  cursor: pointer;

}

.frame {
  width: 200px;
  height: 250px;
  overflow: hidden;
  background-color: lightgray;
  border-radius: 10px;
  margin-bottom: 10px;
}

.my-avatar {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  background-color: #f0f0f0;
}

label {
  cursor: pointer;
}

.note {
  width: 250px;

  position: relative;
  margin-top: 50px;
  background-color: transparent;
}

textarea {
  margin-top: 50px;

  width: 200px;
  height: 150px;
  position: absolute;

  padding: 10px;
  background-color: transparent;
  border: none;
  resize: none;
}

textarea:focus {
  outline: none;
}
