p-message {
  width: 40vw;
  position: fixed;
  top: 15vh;
  left: 30vw;
  z-index: 100;
}

.title {
  text-align: center;
  margin: 5px auto;
}

.container {
  display: flex;
  margin: 20px;
  background: #F2EEE5;
  height: 90vh;
}

.left-pane,
.right-pane {
  padding: 0 50px;
}

.left-pane {
  width: 50%;
}

.right-pane {
  width: 50%;
}

p-selectbutton,
p-floatlabel,
p-select {
  margin: 15px 10px 0 0;
}
