p-message {
  width: 40vw;
  position: fixed;
  top: 15vh;
  left: 30vw;
  z-index: 100;
}

.title {
  text-align: center;

  margin: 5px auto;
}

.main-box {
  display: flex;
}

.left-pane, .right-pane {
  padding: 0 50px;
}
.left-pane {
  width: 55%;
}

.right-pane {
  width: 45%;
}

p-selectbutton, p-floatlabel {
  margin: 15px 10px 0 0;
}
