/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

@font-face {
  font-family: Seto;
  src: url("./assets/fonts/濑户字体SETOFONT.TTF");
}

h1,h2,h3, h4, p, li {
  font-family: Seto;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-center {
  text-align: center;
}


