$reg-login-btn-bg-color: rgb(76, 76, 247);
$reg-login-btn-hover-bg-color: rgb(27, 27, 188);
$reg-login-btn-color: yellow;
$reg-login-btn-hover-color: white;

$ques-color: black;
$ques-hover-color: rgb(103, 103, 103);
$ans-text-color: black;

.block {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// 第一區塊 網站名稱 說明文字 ////////////////////////////
.title {
  margin: 80px auto 100px auto;

  // font-family: 'SetoFont Regular';
  text-align: center;
  font-size: 10rem;

  animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.context {
  max-width: 60%; // 不會超出容器寬度

  word-wrap: break-word; // 長單字自動斷行
  overflow-wrap: break-word; // 現代寫法，處理自動換行
  white-space: normal; // 確保文字會正常換行
  line-height: 1.6; // 閱讀性提升（可選）
  font-size: 2rem; // 可根據實際調整
}

.block1 {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.block1.animate-in {
  opacity: 1;
  transform: translateY(0);
}


// 第二區塊 說明文字 3張圖片 ////////////////////////////
.block2 {
  height: 300vh;
  position: relative;

  .grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .left-box {
    height: 300vh;
  }

  .sticky-content {
    height: 100vh;

    position: sticky;
    top: 0;

    // padding: 2rem;

    .content-box {
      height: 100%;
      width: 100%;
      margin-left: 20%;

      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;

      .context {
        margin-bottom: 10px;

        text-align: start;
        font-size: 30px;
        font-weight: 25px;
        line-height: 1.6; // 閱讀性提升
      }

      li {
        margin-left: 35px;

        font-size: 2rem;
        font-weight: 10rem;
      }
    }
  }

  .right-box {
    height: 300vh;

    overflow: hidden;

    .scroll-page img {
      height: 60vh;
      width: 60vh;
    }
  }

  .scroll-page {
    height: 100vh;

    position: sticky;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 100px;
  }
}

// 第三區塊 註冊按鈕 ////////////////////////////
// .block3 {
//   h1 {
//     font-size: 10rem;
//     margin-bottom: 20px;
//   }

//   .btn-box {
//     width: 50%;

//     display: flex;
//     justify-content: space-evenly;
//   }

//   button {
//     width: 30%;
//     max-width: 300px;
//     min-width: 50px;
//     font-size: 25px;
//     padding: 15px;

//     border-radius: 10px;

//     background-color: #054b22;
//     color: white;
//     transition: background-color 0.3s ease;
//   }

//   button:hover {
//     background-color: #168654;
//     transform: translateY(-2px);
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//   }
// }

// 第四區塊 Q&A ////////////////////////////
.block4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30vh;
  // flex-direction: column;

  .qa-box {
    width: 80%;

    h3 {
      text-align: start;
      color: $ans-text-color;
    }
  }

  p-accordion-header {
    background-color: #EFF6EB;
    color: $ques-color;
  }

  p-accordion-header:hover {
    background-color: #f9ffdaa6;
    color: $ques-hover-color;
  }
}

.photo-frame {
  display: inline-block;
  padding: 10px;
  /* 相框內邊距 */
  // background-color: #ffffdd47;
  /* 相框顏色 */
  // border: 5px solid #ccc;
  /* 相框邊框 */
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 10px;
}

.photo-frame img {
  width: 20vw;
  height: auto;
  display: block;
}

.home-wrapper {
  display: flex;
  background-color: #1e1e1e;
  color: white;
}

// 與Toolbar保持60px距離
ul.topics-menu {
  position: sticky;
  top: 60px;
  padding-top: 10px;
  z-index: 100;
}

/* 左側 AMANATION 側邊選單 */
.sidebar {
  width: 600px;
  background: rgba(243, 255, 214, 0.114);
  backdrop-filter: blur(10px);
  padding: 60px 50px;
  box-sizing: border-box;
}

.logo {
  top: 1rem;
  font-size: 45px;
  font-weight: bold;
  line-height: 1.2;
  margin: 40px auto 100px 60px;
}

.topics-menu {
  position: sticky;
  top: 1rem;
  list-style: none;
  padding: 0;
  margin: 40px auto auto 60px;
}

.topics-menu li {
  margin: 30px 0;
}

.topics-menu a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 25px;
}

.block2 {
  background: rgba(247, 255, 163, 0.221);
}

.photo-frame h2 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
  text-align: start;
}

// .cardbox {
//   width: 100%;
//   margin: 50px auto 5px auto;
// }

// .cardbox.horizontal {
//   display: flex;
//   width: 80%;
//   height: 100px;
// }

// .card {
//   flex: 1;
//   /* 每張寬度相等 */
//   height: 70vh;
//   text-align: center;
//   line-height: 100px;
//   font-size: 20px;
//   color: white;
// }

// .card1 {
//   background-color: #4CAF50;
// }

// .card2 {
//   background-color: #2196F3;
// }

// .card3 {
//   background-color: #FF9800;
// }
