<div class="bookshelf-container">
  <h1>我的心情日記書櫃</h1>

  <!-- 上層書櫃 (1-6月) -->
  <div class="shelf upper-shelf">
    <div class="books-row">
      @for (book of months.slice(0, 6); track book.id) {
      <div class="book" [class.disabled]="book.id > currentMonth"
        (click)="book.id <= currentMonth && onBookClick(book.id)">

        <div class="book-spine" [style.backgroundColor]="book.color">
          <span class="month-name">{{ book.name }}</span>
        </div>
        <div class="book-cover"></div>
      </div>
      }
    </div>
  </div>

  <!-- 下層書櫃 (7-12月) -->
  <div class="shelf-divider"></div>
  <div class="shelf lower-shelf">
    <div class="books-row">
      @for (book of months.slice(6); track book.id) {
      <div class="book" [class.disabled]="book.id > currentMonth"
        (click)="book.id <= currentMonth && onBookClick(book.id)">
        <div class="book-spine" [style.backgroundColor]="book.color">
          <span class="month-name">{{ book.name }}</span>
        </div>
        <div class="book-cover"></div>
      </div>
      }
    </div>
  </div>


  <div class="write-button-container">
    <button class="write" [routerLink]="hasWrittenToday ? null : ['/write-mood']" [disabled]="hasWrittenToday">
      寫點什麼吧!!
    </button>

    <p *ngIf="hasWrittenToday" class="info-text">
      今天已經寫過囉，明天再來吧～
    </p>
  </div>

</div>
